<a href="https://colab.research.google.com/github/polliz9/atv1-dataframes/blob/main/Atividade1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Criando o DataFrame com os dados fornecidos
data = {
    'Data': ['15/01/2025'] * 5,
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Porto Alegre', 'Salvador'],
    'Temp Máx(°C)': [30.5, 35.0, 24.0, 28.0, 31.0],
    'Temp Mín(°C)': [22.0, 25.0, 18.0, 20.0, 24.5],
    'Chuva (mm)': [12.0, None, 8.0, 15.0, None],
    'Umd(%)': [78, 70, None, 82, 80]
}

df = pd.DataFrame(data)
print(df)

         Data          Cidade  Temp Máx(°C)  Temp Mín(°C)  Chuva (mm)  Umd(%)
0  15/01/2025       São Paulo          30.5          22.0        12.0    78.0
1  15/01/2025  Rio de Janeiro          35.0          25.0         NaN    70.0
2  15/01/2025        Curitiba          24.0          18.0         8.0     NaN
3  15/01/2025    Porto Alegre          28.0          20.0        15.0    82.0
4  15/01/2025        Salvador          31.0          24.5         NaN    80.0

In [ ]:
df = pd.DataFrame(data)

# Substituindo valores ausentes na coluna chuva pela média da Precipitação
df['Chuva (mm)'].fillna(df['Chuva (mm)'].mean(), inplace=True)

print(df)

         Data          Cidade  Temp Máx(°C)  Temp Mín(°C)  Chuva (mm)  Umd(%)
0  15/01/2025       São Paulo          30.5          22.0   12.000000    78.0
1  15/01/2025  Rio de Janeiro          35.0          25.0   11.666667    70.0
2  15/01/2025        Curitiba          24.0          18.0    8.000000     NaN
3  15/01/2025    Porto Alegre          28.0          20.0   15.000000    82.0
4  15/01/2025        Salvador          31.0          24.5   11.666667    80.0

<ipython-input-22-8eae84a66508>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Chuva (mm)'].fillna(df['Chuva (mm)'].mean(), inplace=True)

In [ ]:

df = pd.DataFrame(data)

# Substituindo valores ausentes na coluna Umidade Relativa pela mediana da Umidade Relativa
df['Umd(%)'].fillna(df['Umd(%)'].median(), inplace=True)

print(df)

         Data          Cidade  Temp Máx(°C)  Temp Mín(°C)  Chuva (mm)  Umd(%)
0  15/01/2025       São Paulo          30.5          22.0        12.0    78.0
1  15/01/2025  Rio de Janeiro          35.0          25.0         NaN    70.0
2  15/01/2025        Curitiba          24.0          18.0         8.0    79.0
3  15/01/2025    Porto Alegre          28.0          20.0        15.0    82.0
4  15/01/2025        Salvador          31.0          24.5         NaN    80.0

<ipython-input-23-6620ef0adf8a>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Umd(%)'].fillna(df['Umd(%)'].median(), inplace=True)

In [ ]:
df = pd.DataFrame(data)
df['Amplitude Térmica'] = df['Temp Máx(°C)'] - df['Temp Mín(°C)']

print(df)

         Data          Cidade  Temp Máx(°C)  Temp Mín(°C)  Chuva (mm)  Umd(%)  \
0  15/01/2025       São Paulo          30.5          22.0        12.0    78.0
1  15/01/2025  Rio de Janeiro          35.0          25.0         NaN    70.0
2  15/01/2025        Curitiba          24.0          18.0         8.0     NaN
3  15/01/2025    Porto Alegre          28.0          20.0        15.0    82.0
4  15/01/2025        Salvador          31.0          24.5         NaN    80.0

   Amplitude Térmica
0                8.5
1               10.0
2                6.0
3                8.0
4                6.5

In [ ]:
df = pd.DataFrame(data)
# Criando um novo DataFrame contendo apenas as cidades com Temperatura Máxima acima de 30°C
df_temp_acima_30 = df[df['Temp Máx(°C)'] > 30]

print(df_temp_acima_30)

         Data          Cidade  Temp Máx(°C)  Temp Mín(°C)  Chuva (mm)  Umd(%)
0  15/01/2025       São Paulo          30.5          22.0        12.0    78.0
1  15/01/2025  Rio de Janeiro          35.0          25.0         NaN    70.0
4  15/01/2025        Salvador          31.0          24.5         NaN    80.0

In [ ]:
df = pd.DataFrame(data)

# Substituindo valores ausentes na coluna Precipitação pela média da Precipitação
df['Chuva (mm)'].fillna(df['Chuva (mm)'].mean(), inplace=True)

# Substituindo valores ausentes na coluna Umidade Relativa pela mediana da Umidade Relativa
df['Umd(%)'].fillna(df['Umd(%)'].median(), inplace=True)

# Adicionando uma nova coluna chamada Amplitude Térmica
df['Amplitude Térmica'] = df['Temp Máx(°C)'] - df['Temp Mín(°C)']

# Criando um novo DataFrame contendo apenas as cidades com Temperatura Máxima acima de 30°C
df_temp_acima_30 = df[df['Temp Máx(°C)'] > 30]

# Reordenando as colunas conforme solicitado
df = df[['Data', 'Cidade', 'Temp Máx(°C)', 'Temp Mín(°C)', 'Amplitude Térmica', 'Chuva (mm)', 'Umd(%)']]

print(df)

         Data          Cidade  Temp Máx(°C)  Temp Mín(°C)  Amplitude Térmica  \
0  15/01/2025       São Paulo          30.5          22.0                8.5
1  15/01/2025  Rio de Janeiro          35.0          25.0               10.0
2  15/01/2025        Curitiba          24.0          18.0                6.0
3  15/01/2025    Porto Alegre          28.0          20.0                8.0
4  15/01/2025        Salvador          31.0          24.5                6.5

   Chuva (mm)  Umd(%)
0   12.000000    78.0
1   11.666667    70.0
2    8.000000    79.0
3   15.000000    82.0
4   11.666667    80.0

<ipython-input-32-19f976941107>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Chuva (mm)'].fillna(df['Chuva (mm)'].mean(), inplace=True)
<ipython-input-32-19f976941107>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Umd(%)'].fillna(df['Umd(%)'].median(), inplace=True)